<form action="/square_root/results">
  <label for="sqrt">Enter a number</label>
  <input id="sqrt" type="text" placeholder="What number do you want to square root?" name="user_number">

  <button>Calculate square root</button>
</form>