<form action="/square/results">
  <label for="square">Enter a number</label>
  <input id="square" type="text" placeholder="What number do you want to square?" name="number">

  <button>Calculate square</button>
</form>